@charset "utf-8";

#app{
  height: 80vh;
}

#chatbox-container{
  max-width: 1300px;
}

#messages{
  height: 60vh;
  overflow: scroll;
}

.btn{
	box-shadow: none !important
}

body{
  background-color: #D4D9DB;
}